<!DOCTYPE html>
<html lang="en">

    <head>
            <title>Smart PCAP</title>
            <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"> 
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='loading.css') }}">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <!-- <script>
                    function navigate() {
                      window.location.href = 'success';  // redirect when done!
                    }
                    navigate(); // load the packet capture functions.
            </script> -->
    </head>

    <body>

        <div class="body">
                <span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <div class="base">
                    <span></span>
                    <div class="face"></div>
                </div>
            </div>
            <div class="longfazers">
                <span></span>
            <span></span>
            <span></span>
            <span></span>
            </div>
            <h1>Analyzing Packet Capture...</h1>

    </body>

</html>