{% extends 'layout.html' %}

{% block body %}

<br>

<div id= "top data">

<ul class="list-group list-group-horizontal" id='list-group'>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          TCP Packets&nbsp;
          <span class="badge badge-primary badge-pill">{{mylist[0]}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          UDP Packets&nbsp;
          <span class="badge badge-primary badge-pill">{{mylist[1]}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          ICMP Packets&nbsp;   
          <span class="badge badge-primary badge-pill">{{mylist[2]}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Other&nbsp;
          <span class="badge badge-primary badge-pill">{{mylist[3]}}</span>
        </li>
      </ul>

</div>

{% if icmp_messages or icmp_errors %}

    <br>
    <div class="alert alert-success" role="alert">
        ICMP!
    </div>

    {% if icmp_messages %}

    <ul>
        <div class="alert alert-secondary" role="alert">
            ICMP Messages:
        </div>

        {% for packet in icmp_messages %}
        <p class='packets'>{{packet}}</p>
        {% endfor %}
    </ul>

    {% endif %}

    {% if icmp_errors %}

    <div class="alert alert-danger" role="alert">
        ICMP Failures:
    </div>

    <ul>
        {% for packet in icmp_errors %}
        <p class='packets'>{{packet}}</p>
        {% endfor %}

        <p class='packets'>Number of ICMP errors: {{icmpFailedCount}}</p>
    </ul>

    {% endif %}

{% endif %}

{% if dhcp %}

<br>
<div class="alert alert-success" role="alert">
    DHCP!
</div>

    <ul>
        <div class="alert alert-secondary" role="alert">
            DHCP Messages:
        </div>
        {% for packet in dhcp %}
        <p class='packets'>{{packet}}</p>
        {% endfor %}

        {% if doraFailedList %}
        <div class="alert alert-danger" role="alert">
            DHCP Failures:
        </div>
        {% for packet in doraFailedList %}
        <p class='packets'>{{packet}}</p>
        {% endfor %}

        <p class='packets'>Number of failed DHCP transactions: {{doraFailedCount}}</p>
        {% endif %}
    </ul>

{% endif %}

{% if dns %}

<br>
<div class="alert alert-success" role="alert">
    DNS!
</div>


    <ul>
        <div class="alert alert-secondary" role="alert">
            DNS Messages:
        </div>
            {% for packet in dns %}
            <p class='packets'>{{packet}}</p>
            {% endfor %}

        {% if DNSFailedList %}
        <div class="alert alert-danger" role="alert">
            DNS Failures:
        </div>
        {% for packet in DNSFailedList %}
        <p class='packets'>{{packet}}</p>
        {% endfor %}

        <p class='packets'>Number of DNS packets with errors: {{dnsFailed}}</p>
        {% endif %}
    </ul>

{% endif %}

{% if sip_messages %}

<br>
<div class="alert alert-success" role="alert">
    SIP!
</div>

    <ul>
        <div class="alert alert-secondary" role="alert">
            SIP Messages:
        </div>
    

            <div>
            {% for message in sip_messages %}

            <h5 class='packets'>---------------------------------------------------</h5>
            <h5 class='packets'>{{sip_layer3[loop.index0]}}</h5>
            <h5 class='packets'>---------------------------------------------------</h5>
                <div>
                {% for line in message[:-1] %}
                <h5 class='packets'>{{line}}</h5>
                {% endfor %}
                </div>
            
            <br>

            {% endfor %}
            </div>

    </ul>

{% endif %}

{% if arp_messages %}

<br>
<div class="alert alert-success" role="alert">
    ARP!
</div>

    <ul>
        <div class="alert alert-secondary" role="alert">
            ARP Messages:
        </div>
    
        {% for packet in arp_messages %}
        <p class='packets'>{{packet}}</p>
        {% endfor %}

    </ul>

{% endif %}

{% endblock %}