{% extends 'layout.html' %}

{% block body %}

{% if dhcp %}

<br>
<div class="alert alert-success" role="alert">
    DHCP!
</div>

    <ul>
        <div class="alert alert-secondary" role="alert">
            DHCP Messages:
        </div>
        {% for packet in dhcp %}
        <p class='packets'>{{packet}}</p>
        {% endfor %}

        {% if doraFailedList %}
        <div class="alert alert-danger" role="alert">
            DHCP Failures:
        </div>
        {% for packet in doraFailedList %}
        <p class='packets'>{{packet}}</p>
        {% endfor %}

        <p class='packets'>Number of failed DHCP transactions: {{doraFailedCount}}</p>
        {% endif %}
    </ul>

{% endif %}

{% if dns %}

<div class="alert alert-success" role="alert">
    DNS!
</div>


    <ul>
        <div class="alert alert-secondary" role="alert">
            DNS Messages:
        </div>
            {% for packet in dns %}
            <p class='packets'>{{dns}}</p>
            {% endfor %}
        </ul>

{% endif %}

{% endblock %}